:root {
  --primary: #b0c6ff;
  --on_primary: #002d6f;
  --primary_container: #00429b;
  --on_primary_container: #d9e2ff;

  --secondary: #c0c6dc;
  --on_secondary: #293042;
  --secondary_container: #404659;
  --on_secondary_container: #dce2f9;

  --error: #ffb4ab;
  --on_error: #690005;
  --error_container: #93000a;
  --on_error_container: #ffdad6;

  --background: #1b1b1f;
  --on_background: #e3e2e6;

  --surface: #1b1b1f;
  --on_surface: #e3e2e6;
  --surface_variant: #44464f;
  --on_surface_variant: #c5c6d0;

  --outline: #8f9099;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: center;
}

html {
  height: 100vh;
  background-color: var(--background);
  color: var(--on_background);
}

body {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  grid-area: header;
  width: 100%;

  background-color: var(--secondary);
}

main {
  position: relative;
  height: 100%;
  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding: 8px;
}

#home {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#detailed {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  main {
    width: 100%;
  }
}

.information_section h1, .information_section h2 {
  font-size: 1.5em;
}

.information_section h3 {
  font-size: 1em;
}

.information_section h3 {
  font-weight: normal;
}

h6 {
  text-align: center;
  color: var(--on_secondary);

}

#passwords {
  display: grid;
  grid-template-rows: auto;
  gap: 8px;
}

#controls {
  position: fixed;

  right: 50px;
  bottom: 50px;
}

.site {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--surface_variant);
  padding: 12px;
  border-radius: 12px;
}

.information_section {
  background-color: var(--surface_variant);
  border-radius: 12px;
  color: var(--on_surface_variant);
  margin: 8px;
  padding: 8px;
}

.information_section section {
  padding: 12px;
}

.field {
  display: flex;
  justify-content: space-between;
}

form {
  background-color: var(--surface_variant);
  color: var(--on_surface_variant);
  padding: 15px;
  border-radius: 12px;
}

fieldset {
  display: flex;
  flex-direction: column;

  border: 0;
  padding: 10px 0 10px 0;
}

legend {
  /* font-size: 0; */
}

.radio_button {
  display: flex;
  justify-content: space-around;
}

.back_button {
  position: absolute;
  top: 10px;
  left: 10px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.delete {
  background-color: var(--error_container);
  color: var(--on_error_container);
}

/* Material Design */
lable.outlined {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-top: 6px;
}

lable.outlined > input {
  position: relative;
  background-color: transparent;
  color: var(--on_background);
  border: 1px solid transparent;
  border-color: var(--on_surface_variant);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: border-color 0.25s;
  border-radius: 4px;
  padding: 15px 13px;
  width: 100%;
  z-index: 2;
}

lable.outlined > input:focus,
lable.outlined > input:not(:placeholder-shown) {
  outline: none;
  border-color: var(--primary);
  border-top-color: transparent;
}

lable.outlined > span {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;

  font-size: 16px;
  line-height: 68px;
  line-spacing: 0.5px;
  cursor: text;

  transition: color 0.2s ease 0s, font-size 0.2s ease 0s, line-height 0.2s ease 0s;
}

lable.outlined > input:focus + span,
lable.outlined > input:not(:placeholder-shown) + span {
  font-size: 75%;
  line-height: 15px;
  color: var(--primary);
}

lable.outlined > input + span:before,
lable.outlined > input + span:after {
  content: "";
  border-color: var(--on_background);
  border-top: 1px solid;
  margin-top: 6px;
  height: 8px;
}

lable.outlined > input + span:before {
  border-left: 1px solid;
  min-width: 10px;
  margin-right: 4px;
  border-radius: 4px 0px;
}

lable.outlined > input + span:after {
  flex-grow: 1;
  border-right: 1px solid;
  margin-left: 4px;
  border-radius: 0px 4px;
}

lable.outlined > input:focus + span:before,
lable.outlined > input:focus + span:after {
  border-color: var(--primary);
}

button {
  background-color: transparent;
  border: none;
}

button.filled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--on_primary_container);
  background-color: var(--primary_container);
  padding: 0px 24px;
  line-height: 20px;
  height: 40px;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: border-color 0.25s;
}

button:hover {
  border-color: #396cd8;
}

button.copy img {
  filter: invert(100%);
}

button.copy:hover img {
  filter: invert(95%);
}
